@import "tailwindcss";

 body {
    font-family: 'Inter', sans-serif;
    background-color: #0a0a0a;
    color: #f5f5f5;
    overflow: hidden;
}
.mono {
    font-family: 'JetBrains Mono', monospace;
}
canvas {
    image-rendering: pixelated;
}